html {
    scroll-behavior: smooth;
   }

body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}


header {
    background-color: rgb(0, 0, 0);
    height: 120px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  
   }

  .logo {
    position: absolute;
    left: 0px;
    height: 300px;
    margin-top: 110px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 0px 20px 0px 20px;
    align-items: center;
    
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 15px;
    
}

.nav-menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 23px;
    padding-right: 35px;
    font-weight: bold;
    position: relative;
    transition: 0.3s;
    
}

.nav-menu a::after {
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    position: absolute;
    bottom: -5px;
    left: 0px;
    transition: width 0.4s ease;
}

.nav-menu a:hover::after {
    width: 100%;
}

.nav-menu a:hover {
    color: #fe6300;
}


.hamburguer {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 5px;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.3s;
    border-radius: 2px;
    
}


.hamburguer.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburguer.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.hamburguer.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}


.nav-menu a:hover::after{
  width: 50px;
  }

  .nav-menu a:hover{
    color: #fe6300;
  }

  section {
    scroll-margin-top: 110px;
  }

.frase h1 {
    margin-top: 10px;
    color: #fafafa;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 
 .linha-laranja {
    height: 4px;
    background-color: #fe6300;
    width: 100%;
    margin-top: 120px;
  }

  .quadro {
    display: flex;
    margin: auto;
    max-width: 1200px;
}

.quadro1 {
    flex: 70%;
    background-color: #ebebebe0;
    margin: 30px;
    border-radius: 15px;
}

.titulo {
    color: #fe6300;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
 }

 .titulonosso {
    color: #ffffff;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -50px;
 }

 p {
    text-align: justify;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 

 .textos  {
    text-align: justify;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
  }

.nosso-time {
 background: linear-gradient(rgba(253, 125, 40, 0.6), rgba(255, 122, 33, 0.6)),
  url('WhatsApp\ Image\ 2025-06-08\ at\ 17.35.21.jpeg') center/cover no-repeat;
padding: 40px 20px;
text-align: center;
width: 100%;
max-width: 1100px;
margin: auto;
border-radius: 15px
}

.nosso-time h2{
color: #ffffff;
font-size: 32px;
margin-bottom: 40px;
}

.cards {
display: flex;
flex-wrap: wrap;
gap: 30px;
justify-content: center;

}

.card {
background-color: #f3f1f1;
border-radius: 15px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
padding: 20px;
width: 220px;
height: 200px;
transition: transform 0.3s ease;

}

.card:hover {
transform: translateY(-5px);
}

.card img {
width: 90px;
height: 90px;
object-fit: cover;
border-radius: 50%;
margin-bottom: 15px;
border: 3px solid #fe6300;
}

.card h3 {
color: #333;
font-size: 18px;
margin-bottom: 8px;
}

.card p {
color: #000000;
font-size: 14px;
text-align: center;
}

.titulof {
  max-width: 500px;
  margin: 80px auto;
  padding: 20px;
  text-align: center;
  color: #fe6300;
  font-style: italic;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pfale {
  text-align: center;
}

.contato h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

.contato p {
  color: #555;
  margin-bottom: 30px;
  font-size: 15px;
}

form input, form textarea {
  width: 400px;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ff5100;
  border-radius: 8px;
  font-size: 14px;
  resize: none;
  
}

form button {
  width: 350px;
  padding: 12px;
  background-color: #fe6300;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
  
}

form button:hover {
  background-color: #ff5e00
}

.formulario {
 background-color: #f4f4f4;
 margin-top: -50px;
}

footer {
  background-color: #000000;
  color: #ffffff;
  padding: 40px 20px;
  text-align: center;
  font-weight: bold;
  margin-top: -70px;
}

.footer-container h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-container p {
  font-size: 14px;
  margin-bottom: 20px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.footer-links li {
  display: inline-block;
  margin: 0 12px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-social {
  margin: 20px 0;
}

.footer-social a {
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: #fe6300;
}

footer p {
  font-size: 13px;
  color: #f0f0f0;
  text-align: center;
}

@media (max-width: 768px) {
  
  .nav-menu {
  position: absolute;
  top: 105px;
  left: -100%;
  width: 100%;
  background-color: #000000;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0px;
  transition: left 0.3s ease-in-out;
    } 

    .nav-menu a {
      text-align: center;
      left: 15px;
      right: -15px;
    }
  
    .nav-menu a::after {
      display: none;
    }

  .frase h1 {
  font-size: 4.0rem;
  margin-top: 50px;
  text-align: center;
  padding-right: 50px 50px;
  }
   

.nosso-time {
border-radius: 0px;
padding: 40px 5px;
}

.cards {
gap: 30px;
justify-content: center;
padding: 20px 50px;
}

.card {
border-radius: 15px;
padding: 2px;
width: 230px;
height: 210px;
}

  .logo {
    width: 225px;
    height: 200px;
    transform: translateY(-10px);
    left: 25%;
 }


  .nav-menu.active {
   left: 0;
    }

 .hamburguer {
  display: flex;
    }

  form input, form textarea {
  width: 350px;
  }

  footer {
    width: 40vh;
}
}